#env
.env
.env.*

# local data
data/*
!data/processed/dia_flights.csv
notebooks/

# python
__pycache__/
*.pyc
*.pyo
*.pyd

# venvs & conda
.venv/
venv/
miniconda3/
.envs/

# vs
.vscode/
.idea/
.DS_Store
Thumbs.db